.App {
  text-align: center;
}

body {
  background-color: #f6f6f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App-header {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.nav {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo
 {
  cursor: pointer;
 }

button {
  cursor: pointer;
}

.navBlock button {
  padding: 10px;
  margin: 0 25px;
  background-color: transparent;
  border: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 50px;
  text-align: justify;
}

.footer p {
  font-size: 14px;
}

.btnCircle {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: none;
  margin: 0 5px;
}

.blue {
  background-color: rgb(22, 148, 252);
}

.black {
  background-color: #000;
}

.white {
  background-color: rgb(236, 255, 129);
}

.green {
  background-color: rgb(112, 247, 2);
}

.line {
  width: 150px;
  height: 3px;
  background-color: antiquewhite;
  position: absolute;
  left: 0;
  top: 0;
}

.blackLine {
  width: 35%;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 0;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding-left: 150px;
}

.info div {
  width: 40%;
}

.info div {
  margin-top: 50px;
  position: relative;
}

.buyBlock > div {
  margin-top: 30px;
}

.buyBlock {
  width: 25%;
  padding-right: 100px;

  
  position: relative;
}

.buyBlock button {
  padding: 20px 75px;
  border-radius: 20px;
  color: #fff;
  background-color: rgb(51, 50, 50);
  border: none;
  margin-top: 20px;
  transition: 0.4s ease;
}

.buyBlock button:hover {
  background-color: #000;
  box-shadow: 0 0 10px #000;
  transition: 0.4s ease;
}

.sneakerMain {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneakerMain .sneakerPhoto {
  height: auto;
  transform: rotate(-25deg);
  transition: 0.5s;
  z-index: 50;
  position: relative;
}

.imgMain {
  width: fit-content;
  position: relative;
}

.symbol {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;

}

.down {
  transform: translateY(15px) rotate(-25deg);
  transition: 0.5s ease;
  position: relative;
  z-index: 50;
}

.up {
  transform: translateY(-15px) rotate(-25deg);
  transition: 0.5s ease;
  position: relative;
  z-index: 50;
}

.basketBlock {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.541);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;

}

.onBasket {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.541);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease;
}

.basketContent {
  width: 750px;
  height: 450px;
  background-color: #fff;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtn{
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
}

.imgName {
  padding: 50px 30px;
}

.basketSneaker {
  width: 300px;
  height: 150px;
  animation: new 0.8s linear infinite;
  margin-bottom: 20px;
  -webkit-animation: new 0.8s linear infinite;
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -ms-transition: 0.5s linear;
  -o-transition: 0.5s linear;
}

@keyframes new {
  0% {
    transform: rotate(-25deg) translateY(0);
    -webkit-transform: rotate(-25deg) translateY(0);
    -moz-transform: rotate(-25deg) translateY(0);
    -ms-transform: rotate(-25deg) translateY(0);
    -o-transform: rotate(-25deg) translateY(0);
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}
  50% {
    transform: rotate(-15deg) translateY(-3px);
    -webkit-transform: rotate(-15deg) translateY(-3px);
    -moz-transform: rotate(-15deg) translateY(-3px);
    -ms-transform: rotate(-15deg) translateY(-3px);
    -o-transform: rotate(-15deg) translateY(-3px);
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}
  100% {
    transform: rotate(-25deg) translateY(-7px);
    -webkit-transform: rotate(-25deg) translateY(-7px);
    -moz-transform: rotate(-25deg) translateY(-7px);
    -ms-transform: rotate(-25deg) translateY(-7px);
    -o-transform: rotate(-25deg) translateY(-7px);
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}
}

.nameCost {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.nameOff {
  font-size: 30px;
}

.price {
  font-size: 20px;
  color: red;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.addClose button {
  padding: 10px 30px;
  margin: 0 35px;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.3s ease;
}

.addClose button:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.ok{
  background-color: green;
}

.delete {
  background-color: red;
}

.menuMain {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.541);
  display: flex;
  justify-content: flex-end;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}

.onMenuMain {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.541);
  display: flex;
  justify-content: flex-end;
  z-index: 100;
  opacity: 1;
  visibility: visible;
  transition: 0.3s ease;
}

.menuBlock {
  width: 450px;
  height: 100%;
  background-color: #fff;
  position: relative;
  transform: translateX(100%);
  transition: 0.5s ease;
}

.menuBlockAnim {
  width: 450px;
  height: 100%;
  background-color: #fff;
  position: relative;
  transform: translateX(0%);
  transition: 0.5s ease;
  
}

.closeBtnMenu {
  border: none;
  background-color: transparent;
  position: absolute;
  left: 10px;
  top: 10px;
}

.navBlockMenu {
  margin-top: 70px;
}

.navBlockMenu ul {
  list-style: none;
}
.navBlockMenu ul li {
  display: flex;
  margin: 5px 0; 
  width: 100%;
  text-decoration: none;
  text-align: left;
  color: #333;
  font-size: 20px;
  padding: 5px 40px;
  font-weight: 600;
}

.navBlockMenu ul li:hover {
  color: rgb(0, 57, 171);
  cursor: pointer;
}

@media screen and (max-width:1220px) {
  .info {
    padding: 0;
  }

  .buyBlock {
    padding-right: 0;
  }

  .sneakerPhoto, .up, .down {
    width: 550px;
  }

  .symbol {
    width: 700px;
  }
}

@media screen and (max-width:900px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }

  .info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .info div {
    width: 300px;
    margin: 30px 10px 0 10px;
  }

  .buyBlock {
    margin-top: 50px;
    width: 350px;
  }

  .sneakerPhoto, .up, .down {
    width: 350px;
  }

  .symbol {
    width: 400px;
  }

  .humburger {
    margin-right: 0 !important;
  }

  .basketContent {
    width: 550px;
    height: 420px;
  }

  .menuBlockAnim, .menuBlock {
    width: 50%;
  }

}

@media screen and (max-width:740px) {

  .sneakerMain {
    margin-top: 50px;
  }

  .footer {
    align-items: center;
  }

  .info {
    justify-content: center;
  }

  .info div {   
    width: 350px;
  }

  .basketContent {
    width: 500px;
    height: 350px;
  }

  .basketSneaker {
    width: 250px;
  }

  .nameOff {
    font-size: 20px;
  }

  .addClose button {
    font-size: 15px;
    padding: 10px 25px;
  }

  .imgName {
    padding: 15px;
  }
}

@media screen and (max-width:500px) {
  .nav {
    padding: 15px 20px;
  }

  .footer {
    padding: 20px;
  }

  .basketContent {
    width: 90%;
  }
}

@media screen and (max-width:450px) {
  .symbol {
    width: 350px;
  }

  .info div {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .buyBlock {
    width: 100%;
  }

  .navBlock button {
    padding: 0;
  }
}

